<?xml version="1.0" encoding="UTF-8"?>
<sh:StandardBusinessDocument xmlns:sh="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader">
	<sh:StandardBusinessDocumentHeader>
		<sh:HeaderVersion>1.0</sh:HeaderVersion>
		<sh:Sender>
			<sh:Identifier Authority="iso6523-actorid-upis">[plc]originalSender[plc]</sh:Identifier>
		</sh:Sender>
		<sh:Receiver>
			<sh:Identifier Authority="iso6523-actorid-upis">[plc]finalRecipient[plc]</sh:Identifier>
		</sh:Receiver>
		<sh:DocumentIdentification>
			<sh:Standard>urn:oasis:names:specification:ubl:schema:xsd:Invoice-2</sh:Standard>
			<sh:TypeVersion>2.1</sh:TypeVersion>
			<sh:InstanceIdentifier>[plc]messageID[plc]@Goldman</sh:InstanceIdentifier>
			<!-- 20231211T120000 -->
			<sh:Type>Invoice</sh:Type>
			<sh:CreationDateAndTime>[plc]timestampUTC[plc]+03:00</sh:CreationDateAndTime>
			<!-- 2023-12-11T12:00:00.000Z -->
		</sh:DocumentIdentification>
		<sh:BusinessScope>
			<sh:Scope>
				<sh:Type>DOCUMENTID</sh:Type>
				<sh:InstanceIdentifier>urn:oasis:names:specification:ubl:schema:xsd:Invoice-2::Invoice##urn:cen.eu:en16931:2017#compliant#urn:fdc:peppol.eu:2017:poacc:billing:3.0::2.1</sh:InstanceIdentifier>
				<sh:Identifier>busdox-docid-qns</sh:Identifier>
			</sh:Scope>
			<sh:Scope>
				<sh:Type>PROCESSID</sh:Type>
				<sh:InstanceIdentifier>urn:fdc:peppol.eu:2017:poacc:billing:01:1.0</sh:InstanceIdentifier>
				<sh:Identifier>cenbii-procid-ubl</sh:Identifier>
			</sh:Scope>
			<sh:Scope>
				<sh:Type>COUNTRY_C1</sh:Type>
				<sh:InstanceIdentifier>CY</sh:InstanceIdentifier>
			</sh:Scope>
		</sh:BusinessScope>
	</sh:StandardBusinessDocumentHeader>
	<!-- ======================================================================= -->
	<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cec="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2">
		<cbc:UBLVersionID>2.1</cbc:UBLVersionID>
		<cbc:CustomizationID>urn:cen.eu:en16931:2017#compliant#urn:fdc:peppol.eu:2017:poacc:billing:3.0</cbc:CustomizationID>
		<cbc:ProfileID>urn:fdc:peppol.eu:2017:poacc:billing:01:1.0</cbc:ProfileID>
		<cbc:ID>{{ invoice_id }}</cbc:ID>
		<cbc:IssueDate>{{issue_date}}</cbc:IssueDate>
		<cbc:DueDate>{{ due_date }}</cbc:DueDate>
		<cbc:InvoiceTypeCode>380</cbc:InvoiceTypeCode>
		<cbc:DocumentCurrencyCode>EUR</cbc:DocumentCurrencyCode>	
		<cbc:BuyerReference>{{ buyer_reference }}</cbc:BuyerReference>	
		<cac:ContractDocumentReference>
			<cbc:ID>{{ contract_reference }}</cbc:ID>
		</cac:ContractDocumentReference>
		<cac:ProjectReference>
			<cbc:ID>{{ project_reference }}</cbc:ID>
		</cac:ProjectReference>
		<cac:AccountingSupplierParty>
			<cac:Party>
				<cbc:EndpointID schemeID="{{ endpoint_id }}">{{ supplier_tax_id }}</cbc:EndpointID>
				<cac:PartyIdentification>
					<cbc:ID>{{ supplier_tax_id }}</cbc:ID>
				</cac:PartyIdentification>
				<cac:PartyName>
					<cbc:Name>{{ supplier_name }}</cbc:Name>
				</cac:PartyName>
				<cac:PostalAddress>
					<cbc:CityName>{{ supplier_city }}</cbc:CityName>
					<cbc:PostalZone>{{supplier_postcode }}</cbc:PostalZone>
					<cac:AddressLine>
						<cbc:Line>{{ supplier_address }}</cbc:Line>
					</cac:AddressLine>
					<cac:Country>
						<cbc:IdentificationCode>{{ supplier_country }}</cbc:IdentificationCode>
					</cac:Country>
				</cac:PostalAddress>
				<cac:PartyTaxScheme>
					<cbc:CompanyID>{{ supplier_tax_id }}</cbc:CompanyID>
					<cac:TaxScheme>
						<cbc:ID>VAT</cbc:ID>
					</cac:TaxScheme>
				</cac:PartyTaxScheme>
				<cac:PartyLegalEntity>
					<cbc:RegistrationName>{{ supplier_legal_entity }}</cbc:RegistrationName>
				</cac:PartyLegalEntity>
				<cac:Contact>
					<cbc:Telephone>{{ supplier_phone }}</cbc:Telephone>
				</cac:Contact>
			</cac:Party>
		</cac:AccountingSupplierParty>
		<cac:AccountingCustomerParty>
			<cac:Party>
				<cbc:EndpointID schemeID="9933">997001671</cbc:EndpointID>
				<cac:PartyIdentification>
					<cbc:ID>{{ partyidentification_id }}</cbc:ID>
				</cac:PartyIdentification>
				<cac:PartyName>
					<cbc:Name>{{ customer_name }}</cbc:Name>
				</cac:PartyName>
				<cac:PostalAddress>
					<cbc:CityName>{{ customer_city }}</cbc:CityName>
					<cbc:PostalZone>{{ customer_postcode }}</cbc:PostalZone>
					<cac:AddressLine>
						<cbc:Line>{{ customer_address }}</cbc:Line>
					</cac:AddressLine>
					<cac:Country>
						<cbc:IdentificationCode>GR</cbc:IdentificationCode>
					</cac:Country>
				</cac:PostalAddress>
				<cac:PartyTaxScheme>
					<cbc:CompanyID>{{ customer_vat }}</cbc:CompanyID>
					<cac:TaxScheme>
						<cbc:ID>VAT</cbc:ID>
					</cac:TaxScheme>
				</cac:PartyTaxScheme>
				<cac:PartyLegalEntity>
					<cbc:RegistrationName>{{ customer_name }}</cbc:RegistrationName>
				</cac:PartyLegalEntity>
			</cac:Party>
		</cac:AccountingCustomerParty>
		<cac:Delivery>
			<cbc:ActualDeliveryDate>{{ issue_date }}</cbc:ActualDeliveryDate>
			<cac:DeliveryLocation>
				<cac:Address>
					<cbc:StreetName>{{ customer_address }}</cbc:StreetName>
					<cbc:CityName>{{ customer_city }}</cbc:CityName>
					<cbc:PostalZone>{{ customer_postcode }}</cbc:PostalZone>
					<cac:Country>
						<cbc:IdentificationCode>GR</cbc:IdentificationCode>
					</cac:Country>
				</cac:Address>
			</cac:DeliveryLocation>
			<cac:DeliveryParty>
				<cac:PartyName>
					<cbc:Name>{{ customer_name }}</cbc:Name>
				</cac:PartyName>
			</cac:DeliveryParty>
		</cac:Delivery>
		<cac:PaymentMeans>
			<cbc:PaymentMeansCode name="{{ payment_means_method }}">{{ payment_means_number }}</cbc:PaymentMeansCode>
			<cbc:PaymentID>{{ invoice_id }}</cbc:PaymentID>
			<cac:PayeeFinancialAccount>
				<cbc:ID>{{ account_iban }}</cbc:ID>
				<cac:FinancialInstitutionBranch>
					<cbc:ID>{{ swift_code }}</cbc:ID>
				</cac:FinancialInstitutionBranch>
			</cac:PayeeFinancialAccount>
		</cac:PaymentMeans>
		<cac:PaymentTerms>
			<cbc:Note>{{ note }}</cbc:Note>
		</cac:PaymentTerms>
		{% if allowance_total|float != 0.0 %}
		<cac:AllowanceCharge>
			<cbc:ChargeIndicator>false</cbc:ChargeIndicator>
			<cbc:AllowanceChargeReasonCode>95</cbc:AllowanceChargeReasonCode>
			<cbc:AllowanceChargeReason>Discount</cbc:AllowanceChargeReason>
			<cbc:Amount currencyID="{{ currency }}">{{ allowance_total }}</cbc:Amount>
			<cac:TaxCategory>
				<cbc:ID>K</cbc:ID>
				<cbc:Percent>{{ tax_percent }}</cbc:Percent>
				<cac:TaxScheme>
					<cbc:ID>VAT</cbc:ID>
				</cac:TaxScheme>
			</cac:TaxCategory>
		</cac:AllowanceCharge>
		{% endif %}
		<cac:TaxTotal>
			<cbc:TaxAmount currencyID="{{ currency }}">{{ tax_amount }}</cbc:TaxAmount>
			<cac:TaxSubtotal>
				<cbc:TaxableAmount currencyID="{{ currency }}">{{ net_total }}</cbc:TaxableAmount>
				<cbc:TaxAmount currencyID="{{ currency }}">{{ tax_amount }}</cbc:TaxAmount>
				<cac:TaxCategory>
					<cbc:ID>{{ tax_category_id }}</cbc:ID>
					<cbc:Percent>{{ tax_percent }}</cbc:Percent>
					<cbc:TaxExemptionReasonCode>{{ tax_exemption_code }}</cbc:TaxExemptionReasonCode>
					<cbc:TaxExemptionReason>{{ tax_exemption_reason }}</cbc:TaxExemptionReason>
					<cac:TaxScheme>
						<cbc:ID>VAT</cbc:ID>
					</cac:TaxScheme>
				</cac:TaxCategory>
			</cac:TaxSubtotal>
		</cac:TaxTotal>
		<cac:LegalMonetaryTotal>
			<cbc:LineExtensionAmount currencyID="{{ currency }}">{{ line_extension_total }}</cbc:LineExtensionAmount>
			<cbc:TaxExclusiveAmount currencyID="{{ currency }}">{{ net_total }}</cbc:TaxExclusiveAmount>
			<cbc:TaxInclusiveAmount currencyID="{{ currency }}">{{ gross_total }}</cbc:TaxInclusiveAmount>
			{% if allowance_total|float != 0.0 %}
            <cbc:AllowanceTotalAmount currencyID="EUR">{{ allowance_total }}</cbc:AllowanceTotalAmount>
            {% endif %}
			<cbc:PrepaidAmount currencyID="{{ currency }}">0.00</cbc:PrepaidAmount>
			<cbc:PayableAmount currencyID="{{ currency }}">{{ gross_total }}</cbc:PayableAmount>
		</cac:LegalMonetaryTotal>
		{% for item in line_items %}
<cac:InvoiceLine>
			<cbc:ID>{{ item.id }}</cbc:ID>
			<cbc:InvoicedQuantity unitCode="{{ invoiced_quantity_unit_code }}">{{ item.quantity }}</cbc:InvoicedQuantity>
			<cbc:LineExtensionAmount currencyID="{{ currency }}">{{ item.line_extension_amount }}</cbc:LineExtensionAmount>
			<cac:Item>
				<cbc:Description>{{ item.descriptions | join(' ') }}</cbc:Description>
				<cbc:Name>{{ item.descriptions | join(' ') }}</cbc:Name>
				<cac:ClassifiedTaxCategory>
					<cbc:ID>{{ tax_category_id }}</cbc:ID>
					<cbc:Percent>{{ tax_percent }}</cbc:Percent>
					<cac:TaxScheme>
						<cbc:ID>VAT</cbc:ID>
					</cac:TaxScheme>
				</cac:ClassifiedTaxCategory>
			</cac:Item>
			<cac:Price>
				<cbc:PriceAmount currencyID="{{ currency }}">{{ item.unit_price }}</cbc:PriceAmount>
			</cac:Price>
		</cac:InvoiceLine>
{% endfor %}
	</Invoice>
	<!-- ======================================================================= -->
</sh:StandardBusinessDocument>